<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>

<body>
 <h1>Hello <%=content.name%> , You have successfully purachased <%=content.courseName%> course.</h1><br>
 <h2>Course ID : <%=content.courseId%>
 </h2><br>
 <h2>Purchased Date : <%=content.date%>
 </h2><br>
 <h1>Happy learning <%=content.name%>!</h1>

</body>

</html>